<header>
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand d-block d-lg-up-none" href="#">
            <img src="assets/logo/arcs-logo-white.svg" alt="ARCS logo" width="80" />
        </a>
        <button class="navbar-toggler theme-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <img src="assets/icons/menu.svg" alt="Menu" width="32" height="32">
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link text-uppercase" href="#home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase" href="#agency">L'agence</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase" href="#services">Nos services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-uppercase" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
