$purple: #7E76F9;

$blue-light: #6156F9;
$blue-dark: #1A129F;
$blue-electric: #62f9e6;

$grey-lighter: #F1F0F7;
$grey-light: #7A839E;
$grey-dark: #42495B;
$grey-label: #B6B8C7;

$white-alpha-5: rgba(255, 255, 255, .5);
