/* Lato */
@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/lato/Lato-Regular.eot');
    src: url('/assets/fonts/lato/Lato-Regular.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/lato/Lato-Regular.woff2') format('woff2'),
    url('/assets/fonts/lato/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/lato/Lato-Bold.eot');
    src: url('/assets/fonts/lato/Lato-Bold.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/lato/Lato-Bold.woff2') format('woff2'),
    url('/assets/fonts/lato/Lato-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/lato/Lato-Light.eot');
    src: url('/assets/fonts/lato/Lato-Light.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/lato/Lato-Light.woff2') format('woff2'),
    url('/assets/fonts/lato/Lato-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* Poppins */
@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/poppins/Poppins-Regular.eot');
    src: url('/assets/fonts/poppins/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/poppins/Poppins-Regular.woff2') format('woff2'),
    url('/assets/fonts/poppins/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/poppins/Poppins-Bold.eot');
    src: url('/assets/fonts/poppins/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/poppins/Poppins-Bold.woff2') format('woff2'),
    url('/assets/fonts/poppins/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/poppins/Poppins-Medium.eot');
    src: url('/assets/fonts/poppins/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/poppins/Poppins-Medium.woff2') format('woff2'),
    url('/assets/fonts/poppins/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}



