<section id="home" class="container-fluid background">
    <div class="row">
        <div class="col-sm-12 offset-md-1 col-md-10 offset-xl-2 col-xl-10">
            <div class="home-content">
                <img src="assets/logo/arcs-logo.svg" class="d-none d-lg-up-block" width="280" height="210" alt="ARCS logo" loading="lazy" />
                <h1 class="text-uppercase">
                    <span class="d-block" style="font-size:0.9em">Agence de développement web</span>
                    <span class="d-block"><strong style="font-size:1.1em">Donnez vie à vos projets</strong></span>
                </h1>
                <p>
                    Notre expertise au service des entreprises et des particuliers.
                </p>
                <a href="#contact" class="btn theme-1">Demander un devis</a>
            </div>
        </div>
    </div>
    <div class="scroll-down" [ngClass]="{'anim-fade-in': !scrolled, 'anim-fade-out': scrolled}">
        <img src="assets/images/cursor-scroll.svg" alt="Scroll down" height="80">
    </div>
</section>
