<section id="agency" class="container-fluid background">
    <div class="row">
        <div class="offset-sm-2 col-sm-8 offset-md-1 col-md-5 d-none d-sm-block">
            <img src="assets/images/agency.svg" alt="Agency" class="img-fluid" />
        </div>
        <div class="col-sm-12 col-md-5 text-justify">
            <h2>L'agence ARCS</h2>
            <h1>Qui sommes nous ?</h1>
            <p>
                Aujourd'hui, <span style="color:blue">la technologie moderne</span> fait partie de la vie quotidienne des particuliers comme des entreprises. Partant de ce constat, nous avons décidé de créer <span style="color:blue">ARCS</span>, une agence permettant à chacun de se digitaliser.

                <span class="d-block my-3"><span style="color:blue">ARCS</span> est une agence spécialisée dans <span style="color:blue">le développement web et application mobile</span>.
                Nous proposons notre expertise pour vous aider à <span style="color:blue">développer vos projets</span>.
                Nous garantissons un accompagnement <span style="color:blue">personnalisé</span> qui concrétisera vos projets !
                </span>

                <span class="d-block my-3">Décidez vous même des thèmes et du contenu que vous souhaitez ajouter.</span>

                Donner de <span style="color:blue">la visibilité</span> à votre projet. Nous vous accompagnons personnellement de la création au développement de votre activité.
            </p>
        </div>
    </div>
</section>
